body {
    font-family: Arial, sans-serif;
    color: #ddd;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}

body.red-body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-color: #ff0000;
    color: #ffff00;
    margin: 20px;
    padding: 10px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: var(--header-bg-color, #ddd);
}

.band {
    padding: 50px 20px;
    background-color: var(--band-color, #2c3e50);
    color: var(--text-color, #ddd);
}
.band h2,
.band p {
  color: inherit;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    margin-bottom: 10px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
    color: #ddd;
}

p {
    font-size: 1em;
    line-height: 1.6;
}



.imgband {
    padding: var(--imgband-height, 100px) 50px;
    color: var(--img-band-color, #2c2c2c);
    position: relative;
    overflow: hidden;
}

.imgband::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--background-image);;
    background-size: cover;
    background-position: center;
    opacity: 0.3;
    z-index: 1;
}

.imgbandcontent {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}


.button-link {
    padding: 10px 20px;
    color: #fff;
    background-color: #0073ff;
    text-decoration: none;
    border-radius: 5px;
}

.float-img {
    float: left;
    margin-right: 15px;
    width: 200px;
}

.img-with-text::after {
    content: "";
    display: table;
    clear: both;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
}
